<%- include('../partials/header') %> 

<div class="w-screen h-screen bg-[#aac938]"></div>

<h1>Edit Page</h1>
<h1><%=  project.name %></h1>
<h1><%=  project.city %></h1>
<h1><%=  project.objective %></h1>
<h1><%=  project.description %></h1>
<h1><%=  project.duration %></h1>
<h1><%=  project.implementedBy %></h1>
<h1><%=  project.status %></h1>
<h1><%= project.id %></h1>

<%- include('../partials/footer') %> 