<%- include('../partials/header') %> 

<!-- Main -->

<!-- image container -->

<div class="show-img shadow-md"></div>

<!-- main info div -->
<div class="grid grid-cols-5 h-[40vh] mt-10">
  <!-- title and description section -->
  <section class="col-start-2 col-span-2 text-center mr-10">
    <div class="" id="title">
      <h1 class="text-4xl text-black mb-10"><%= project.name %></h1>
      <p class="text-xl text-black text-justify"><%= project.description %></p>
      <p class="text-left mt-5"><%= `Actualizado el ${project.updatedAt.toLocaleDateString('es-ES')}` %></p>
    </div>
  </section>

  <!-- map and info section -->
  <section class="col-start-4 h-[40vh] rounded-xl text-black">
    <div class=" h-full rounded-xl">
    <div class="lg:h-48 md:h-36 w-full rounded-xl" id="map"></div>
        <div class="flex flex-col justify-center p-4"> 
          <div class="mb-2">
            <p class="float-left">Ciudad:</p>
            <p class="float-right"><%= `${project.city.charAt(0).toUpperCase()}${project.city.slice(1)}` %></p>
          </div>
          <div class="mb-2">
            <p class="float-left">Enfoque:</p>
            <p class="float-right"><%= project.objective %></p>
          </div>
          <div class="mb-2">
            <p class="float-left">Duración:</p>
            <p class="float-right"><%= project.duration %></p>
          </div>
          <div class="mb-2">
            <p class="float-left">Líder del Proyecto:</p>
            <p class="float-right"><%= project.implementedBy %></p>
          </div>
          <div class="mb-6">
            <p class="float-left">Estado:</p>
            <p class="float-right"><%= project.status %></p>
          </div>
          
          <% if (user) { %>
          <%# if(project.author.toString() === user._id.toString()) { %>
          <% if(user._id.equals(project.author)) { %>


        <div class="text-center">
        <a
          href="/projects/<%= project.id %>/edit"
          class="bg-amber-500 hover:scale-105 drop-shadow-md px-4 py-1 rounded-lg">Editar
        </a>
      </div>
      <div class="text-center mt-2">
        <form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
          <button
            type="submit"
            class="bg-amber-500 hover:scale-105 drop-shadow-md px-4 py-1 rounded-lg">Delete
        </button>
        </form>
      </div>
    <% }} %>
        
      </section>
</div>

<input type="hidden" class="lat" value="<%= project.lat %>">
<input type="hidden" class="lon" value="<%= project.lon %>">






<!-- <section id="show-page">
    <label> Actualizadó el
        <%= project.updatedAt.toLocaleDateString('en-GB', {hour: '2-digit', minute:'2-digit'}) %>
    </label>
    <div>Nombre</div>
    <div><%= project.name %></div>
    <div>Ciudad</div>
    <div><%= project.city %></div>
    <div>Enfoque</div>
    <div><%= project.objective %></div>
    <div>Descripción</div>
    <div><%= project.description %></div>
    <div>Duración</div>
    <div><%= project.duration %></div>
    <div>Líder del proyecto</div>
    <div><%= project.implementedBy %></div>
    <div>Estado</div>
    <div><%= project.status %></div>
</section>

    <a href="/projects/<%= project.id %>/edit">Editar proyecto</a> -->


<%- include('../partials/footer') %> 

<script>
    let latEl = document.querySelector('.lat')
    let lonEl = document.querySelector('.lon')
    
    let map = L.map('map').setView([latEl.value, lonEl.value], 6);
    const attribution =
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

      const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(map);

    L.marker([latEl.value, lonEl.value]).addTo(map)

  </script>