<%- include('../partials/header') %> 

<section id="show-page">
    <div>Nombre</div>
    <div><%= project.name %></div>
    <div>Ciudad</div>
    <div><%= project.city %></div>
    <div>Enfoque</div>
    <div><%= project.objective %></div>
    <div>Descripción</div>
    <div><%= project.description %></div>
    <div>Duración</div>
    <div><%= project.duration %></div>
    <div>Líder del proyecto</div>
    <div><%= project.implementedBy %></div>
    <div>Estado</div>
    <div><%= project.status %></div>
</section>


<%- include('../partials/footer') %> 