<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../stylesheets/style.css" />
    <!-- Leaflet Map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  </head>
  <header>
      <nav
      class="flex flex-col text-center text-green-200 bg-[#012030] sm:flex-row sm:text-left sm:justify-between py-4 px-6 sm:items-baseline w-full"
      >
      <div class="mb-2 sm:mb-0">
        <a
          href="/"
          class="text-xl no-underline"
          >Inicio</a
        >
      </div>
      <div class="flex justify-center space-x-20">
        <a
          href="/projects"
          class="text-xl no-underline"
          >Proyectos</a
        >
        <a
          href="/projects/new"
          class="text-xl no-underline"
          >Agregar Proyecto</a
        >
      </div>
      <div>
          <% if (user) { %>
          <a href="/logout" class="text-xl">Log Out</a>
          <% } else { %>
          <a href="/auth/google" class="text-xl">Iniciar Sesión</a>
          <% } %>
      </div>
    </nav>
  </header>
  <body class="bg-green-200">

<!-- Main -->

<!-- image container -->

<div class="show-img mt-px"></div>

<!-- info section -->

<!-- main div -->
<div class="grid grid-cols-3 h-[54vh] mt-px gap-px">
  
  <section class="col-span-2 grid grid-rows-2 bg-[#012030]">
    <div class="flex items-center justify-center" id="title">
      <h1 class="text-4xl text-green-200"><%= project.name %></h1>
    </div>
    <div id="text-center" id="description">
      <p class="text-xl text-green-200 p-4"><%= project.description %></p>
    </div>
  </section>

  <!-- aside div -->
    <aside class="col-start-3 grid grid-rows-3 gap-y-px text-green-200">
        <div class="col-span-2 row-span-1" id="map"></div>
        <div class="col-span-2 row-span-2 flex flex-col justify-center bg-[#012030] p-4 text-right"> 
          <h2><%= `Ciudad:  ${project.city.charAt(0).toUpperCase()}${project.city.slice(1)}` %></h2></br>
          <h2><%= `Enfoque:  ${project.objective}` %></h2></br>
          <h2><%= `Duración:  ${project.duration}` %></h2></br>
          <h2><%= `Líder del Proyecto:  ${project.implementedBy}` %></h2></br>
          <h2><%= `Estado:  ${project.status}` %></h2></br>
        </div>    
    </aside>


</div>

<input type="hidden" class="lat" value="<%= project.lat %>">
<input type="hidden" class="lon" value="<%= project.lon %>">






<!-- <section id="show-page">
    <label> Actualizadó el
        <%= project.updatedAt.toLocaleDateString('en-GB', {hour: '2-digit', minute:'2-digit'}) %>
    </label>
    <div>Nombre</div>
    <div><%= project.name %></div>
    <div>Ciudad</div>
    <div><%= project.city %></div>
    <div>Enfoque</div>
    <div><%= project.objective %></div>
    <div>Descripción</div>
    <div><%= project.description %></div>
    <div>Duración</div>
    <div><%= project.duration %></div>
    <div>Líder del proyecto</div>
    <div><%= project.implementedBy %></div>
    <div>Estado</div>
    <div><%= project.status %></div>
</section>

    <a href="/projects/<%= project.id %>/edit">Editar proyecto</a> -->


<%- include('../partials/footer') %> 

<script>
    let latEl = document.querySelector('.lat')
    let lonEl = document.querySelector('.lon')
    
    let map = L.map('map').setView([latEl.value, lonEl.value], 6);
    const attribution =
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

      const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(map);

    L.marker([latEl.value, lonEl.value]).addTo(map)

  </script>